<%- include("header") -%>

<div class="row">
    <div class="col-lg-3 col-sm-2">
        <p> </p>
    </div>
    <div class="col-lg-6 col-sm-8 text-center mcm-form">
        <h1 class="page-title">Add a recipe</h1>

        <form action="/add_recipe" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label for="">Recipe Name</label>
                    <input class="form-control" type="text" name="name" value="" placeholder="Recipe Name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Ingredients</label>
                    <textarea id="validationCustom03" class="form-control" name="ingredients" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label>Instructions</label>
                    <textarea id="validationCustom03" class="form-control" name="instructions" rows="10"></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="form-group">
                    <label for="">URL:</label>
                    <input class="form-control col-12" type="text" name="URL" placeholder="Link" autocomplete="off">
                </div>
                <div hidden="true" class="form-group" id="associatedRecipeRowInsert">
                    <label>Associated Recipes:</label>
                    <div class="form-row form-group" id="associatedRecipeRow">
                        <div class="col-9">
                            <select class="form-control" name="associatedRecipes">
                                <option value="">None</option>
                                <% allRecipes.forEach(function(recipe){ %>
                                <option value="<%= recipe._id %>"><%=recipe.name%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary" type="button" name="hideMe" onclick="addAssociatedRecipe()">+</button>
                        </div>
                        <div class="col-2">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="">Tags:</label>
                    <input class="form-control col-12" type="text" name="tags" placeholder="Tags - seperate each tag by a comma and a space." autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">Type of recipe</label>
                    <select class="custom-select" name="category">
                        <option value="Dinner">Dinner</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Drink">Drink</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Author:</label>
                    <input class="form-control col-12" type="text" name="author" placeholder="Author" autocomplete="off" value="becca">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary submit-button" name="button" >Enter Recipe</button>
                </div>
        </form>
    </div>
    <div class="col-lg-3 col-sm-2">
        <p> </p>
    </div>
</div>

<script>

    function addIngredient() {
        var rowToCopy = document.getElementById("ingredientRow")
        var targetArea = document.getElementById("targetArea")

        targetArea.appendChild(rowToCopy.cloneNode(true))

        rowToCopy.getElementsByTagName("button")[0].style.display = "none"
        rowToCopy.id = "hidden"

        document.getElementById("ingredientRow").getElementsByTagName("input")[0].value = ""
        document.getElementById("ingredientRow").getElementsByTagName("input")[0].select()
        document.getElementById("ingredientRow").getElementsByTagName("input")[1].value = ""
    }

    function addAssociatedRecipe() {
        var rowToCopy = document.getElementById("associatedRecipeRow")
        var targetArea = document.getElementById("associatedRecipeRowInsert")

        targetArea.appendChild(rowToCopy.cloneNode(true))

        rowToCopy.getElementsByTagName("button")[0].style.display = "none"
        rowToCopy.id = "hidden"

        document.getElementById("associatedRecipeRow").getElementsByTagName("input")[0].value = ""
    }


</script>

<%- include("footer") -%>
