<%- include("header") -%>

<div class="row">
    <div class="col-lg-3 col-sm-1">
        <p> </p>
    </div>
    <div class="col-lg-6 col-sm-10 text-center mcm-form">

    </div>
    <div class="col-lg-3 col-sm-1">
        <p> </p>
    </div>
</div>

<%- include("footer") -%>
