body {
    background: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    /* using the 'fixed-top' class for the navbar makes
    all of the content hidden under it. This padding
    will prevent that form happening. */
    padding-top: 100px;
}
.dropdown_options {
    font-size: 10px;
    color: red;
}

.form-group label {
    width: 100%;
    margin: 5px;
    text-align: left;
}

.mcm-nav {
    background: #9099a2;
}

.page-title {
    margin: 30px;
}

.submit-button {
    width: 40%;
}

.col-6 .form-control {
    margin: 8px;
    width: 90%;
    align-items: center;
}

#correctAnswer {
    color: green;
}

.test-select-button {
    width: 70%;
    margin: 15px;
    align-items: center;
}

.recipe-select-button {
    width: 60%;
    margin: 15px;
    align-items: center;
}
.recipe-add-items {
    float: left;
}

.mcm-form {
    margin: 10px;
}

.recipe-select-button {
    width: 80%;
    margin: 15px;
    align-items: center;
    height: 10vh;
    font-size: 15px;
}

.ingredientsAndInstructions {
    margin: 40px;
    font-size: 15px;
}

.recipeSection {
    margin-top: 40px;
}

.recipeSearchBars {
    margin: 10px;
    height: 4vh;
    font-size: 15px;
}

.formOR{
    margin: 5px;
}

.mcm-list li {
    list-style: none;
    margin: 13px;
}
